<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Hivesphere Network Logo" src="./assets/logo.png"/>
    <span>Hivesphere Network</span>
    <span class="spacer"></span>
    <a href="https://auth.hivespherenetwork.me/login?client_id=3aletcq0n85r2473ojd3707blt&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Fhivespherenetwork.me%2Fredirect" class="btn">
        SignIn</a>
    <a href="https://auth.hivespherenetwork.me/signup?client_id=3aletcq0n85r2473ojd3707blt&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Fhivespherenetwork.me%2Fredirect" class="btn">
        SignUp</a>
</div>